.section-title{
    text-align: center;
    margin: 70px 0 20px;
    font-size: 20px;
}
.anime-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 0 50px 60px;
}

.card{
    background: #141432;
    border-radius: 15px;
    overflow: hidden;
    transition: .4s;
    transform-style: preserve-3d;
    text-decoration: none;
}

.card:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 20px #ff0066;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3{
    padding: 15px;
    color: white; 
}

.card p{
    padding: 0 15px 20px;
    color: #bfbfbf;
}
