.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 30px;
    background: linear-gradient(45deg,#12002f, #1a0339 #0d0d1a);
    background-size: 400% 400%;
    animation:bgMove 8s infinite alternate;
}

@keyframes bgMove{
    0%{
        left: left;
    }
    100%{
        right: right;
    }
}

.hero h2{
    font-size: 45px;
    margin-bottom: 30px;
}

.hero span{
    color: #ff0066;
}

.btn{
    padding: 12px 25px;
    border-radius: 30px;
    border: 2px solid #ff0066;
    color: #ff0066;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
    box-shadow: 0 0 15px #ff0066;
}

.btn:hover{
    background: #ff0066;
    color: white;
    box-shadow: 0 0 15px #ff0066;
}


