.slider{
    width: 85%;
    margin: 70px auto;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #ff0066;
    box-shadow: 0 0 25px rgba(255, 0, 102, .5);
}

.slide-track{
    display: flex;
    width: calc(250px * 10);
    animation:scroll 20s linear infinite;
}

.slider-track img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin: 15px;
    border-radius: 15px;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}